<!DOCTYPE html>
<html xmlns           ="http://www.w3.org/1999/xhtml"
      xmlns:th        ="http://www.thymeleaf.org"
      xmlns:layout    ="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>thymeleaf base</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>

    <script th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
</head>
<body>
<!-- header -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/home" th:text="${appName}"></a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <div th:if="${isAuth}">
                <li>
                    <a href="/logout">Logout</a>
                </li>
            </div>
            <div th:unless="${isAuth}">
                <li>
                    <a th:href="@{'/register'}">Register</a>
                </li>
            </div>
        </ul>
    </div>
</nav>

<!-- contents -->
<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">Blog List</div>
            <div class="panel-body">
                <div th:if="${blogs}">
                    <span>登録されていません</span>
                </div>

                <div th:unless="${blogs}">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Created User Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="blog : ${blogs}">
                                <td th:text="${blog.title}"></td>
                                <td th:text="${blog.username}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- footer -->
<!--<footer>-->
<!--<hr />-->
<!--<div align="center">footer</div>-->
<!--</footer>-->
</body>
</html>